{% extends 'common/base.html' %}
{% load static %}

{% block style_code %}

<style>
p{
    text-align: center ;
    line-height: 31px;
    margin-top: 3%;
font-family: 'IBM Plex Sans KR', sans-serif;
    font-size : 20px;

}

h1{
font-family: 'IBM Plex Sans KR', sans-serif;


}
h2{
    margin-top:3%;
    font-weight: bold;
    font-family: 'IBM Plex Sans KR', sans-serif;
    text-align: center;

}
h3{

font-family: 'IBM Plex Sans KR', sans-serif;}

h5{
    color: rgba(128, 128, 128, 0.5);
}
li{
    color: rgba(128, 128, 128, 0.38);
    font-weight: 425;

}
.btn:hover {
    background: rgba(0, 128, 0, 0.31);
}
.nav-item:hover {
    background: rgba(128, 128, 128, 0.26);
}
html {
  scroll-behavior: smooth;
}
</style>

{% endblock %}

{% block content %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=IBM+Plex+Sans+KR:wght@500;600;700&family=Noto+Sans+KR:wght@100&display=swap" rel="stylesheet">
  <div class="container" >
    <!-- header 영역 -->
    <header></header>
  </div>
      <div class="py-5 text-center text-white h-100 align-items-center d-flex" style="background:url('/static/img/seoul.jpg') no-repeat center;
      background-position: center center, center center;
      background-size:700px;margin-left: 0%">
    <div class="container py-5">
      <div class="row">
        <div class="mx-auto col-lg-8 col-md-10">
            <div class="title_menu " style="position:absolute;">
              <a href="#STOP"
                class="btn btn-outline-primary title_button1"
                id="title_About_us"
                style="height:200px;
                        width:200px;
                        text-align: center;
                        line-height:195px;
                        font-weight:500;
                        font-size: 30px;
                        text-shadow: 2px 2px 6px dimgray;
                        color:black;
                        border:4px solid rgba(128,128,128,0.37);
                        border-radius: 15px;
                        margin-top:55%;
                        margin-left: 160px;
                        box-shadow: rgba(103,113,119,0.42) 2px 4px 2px 2px ;
                        "
                >ABOUT US</a>

              <a
                href="options/date_opt"
                class="btn btn-outline-primary title_button2"
                style="height:200px;
                       width:200px;
                       text-align: center;
                       line-height:195px;
                       font-weight:500;
                       font-size: 30px;
                       text-shadow: 2px 2px 6px dimgray;
                       color:black;

                       border:4px solid rgba(128,128,128,0.37);
                       border-radius: 15px;
                        display:inline-block;
                        margin-top:55%;
                        margin-left:4px;
                        box-shadow: rgba(103,113,119,0.42) 2px 4px 2px 2px "

                >WEATHER</a></div>
            <p class="lead mb-5">
            <p style="margin-top:30%;
            margin-left:-2%;
            color:white;
            text-shadow:  -4px 0 darkgreen, 0 4px darkgreen, 4px 0 darkgreen, 0 -4px darkgreen;
            font-size:48px;" >머신러닝 기반 관광지 맛집 추천 서비스</p></p>
        </div>
      </div>
    </div>
    </div>
    <div
      class="btn_group"
      draggable="true"
      style="
        background-size: 100%;
        background-position: center;
        margin-bottom: 500px;
        background-repeat: no-repeat;
      "
    >
    </div>

    <div class="table1" >

      <div class="container" >
        <div class="row">
          <div class="col-md-12 text-center" >
              <div style="width:1000px;
              height:720px;
              border: 3px solid #eee;
              margin-left:7%;
              margin-top:5%;
              background: white;
              box-shadow: darkgrey 6px 6px 10px 4px">
              <div id="STOP" style="margin-top:30px;">
                <h1 style="font-size:30px;
                font-weight: 300;
                color:rgb(45, 45, 45);
                text-shadow: #c2fff2 1px 1px 2px;" >ABOUT US</h1>
                </div>
                  <div class="py-5" style="margin-top:-7%;">
                    <div class="container">
                      <div class="row">
                        <div class="col-md-12" style="border:rgba(17,187,173,0.29) 2px solid;width:900px;height:585px;">
                          <ul class="nav nav-tabs" style="margin-left:20%">
                            <li class="nav-item" > <a href="" class="active nav-link" data-toggle="tab" data-target="#tabone">서비스 기획 의도</a> </li>
                            <li class="nav-item"> <a class="nav-link" href="" data-toggle="tab" data-target="#tabtwo">기대 효과</a> </li>
                            <li class="nav-item"> <a href="" class="nav-link" data-toggle="tab" data-target="#tabthree">서비스 기능</a> </li>
                            <li class="nav-item"> <a href="" class="nav-link" data-toggle="tab" data-target="#tabfour">데이터</a> </li>
                            <li class="nav-item"> <a href="" class="nav-link" data-toggle="tab" data-target="#tabfive">사용 기술</a> </li>

                          </ul>
                          <div class="tab-content mt-2">
                            <div class="tab-pane fade show active" id="tabone" role="tabpanel">
                              <p class="" style="font-size: 18px;">개인의 성향, 상황, 날씨에 따라 약속장소 선호도 차이가 존재 </p>
                              <p class="" style="font-size: 18px;">날씨에 따라 유동인구를 예측하여 해당 지역의 관광지와 맛집을 추천 </p>
                              <p class="" style="font-size: 18px;">약속장소를 잡을 때 참고할 수 있는 웹서비스 </p>
                              <div class="py-3 text-center" >
                                    <div class="container">
                                      <div class="row">
                                      </div>
                                      <div class="row justify-content-center">
                                        <div class="col-md-4 p-4"> <i class="d-block fa fa-users fa-3x mb-2 text-muted"></i>
                                          <h6  style="font-size: 18px; font-weight:bold;"> <b>성향에 따라</b> </h6>
                                          <p style="font-size: 17px;"> 사람들이 많이 몰리는 지역인지 유추 할 수 있다</p>
                                        </div>
                                        <div class="col-md-4 col-6 p-4"> <i class="d-block fa fa-child fa-3x mb-2 text-muted"></i>
                                          <h6 style="font-size: 18px; font-weight:bold;"> <b>상황에 따라</b> </h6>
                                          <p style="font-size: 17px;">거리두기 해제!</p>
                                          <p style="font-size: 17px;">하지만 아직 사람많은 곳은 꺼려지는 경우</p>
                                        </div>
                                        <div class="col-md-4 col-6 p-4"> <i class="d-block fa fa-sun-o fa-3x mb-2 text-muted"></i>
                                          <h6 style="font-size: 18px; font-weight:bold;"> <b>날씨에 따라</b> </h6>
                                          <p style="font-size: 17px;">날씨는 관광지 선정에 중요한 요소</p>
                                          <p style="font-size: 17px;">기후 변화와 기상요인이 관광전체에 미치는 영향이 매우 크다</p>

                                        </div>
                                      </div>
                                    </div>
                                  </div>

                            </div>
                            <div class="tab-pane fade" id="tabtwo" role="tabpanel">
                              <p class="" style="margin-top: 20%"><p>"코로나 19 여파로 정체되어있던 서울시내 관광지 및 맛집 활성화"</p><p>"지하철 역별 혼잡도와 날씨를 예측하여 소비자에게 선택지를 제공"</p></p>
                            </div>
                            <div class="tab-pane fade" id="tabthree" role="tabpanel">
                              <div class="py-3 text-center" style="margin-top: 10%;">
                                    <div class="container">
                                      <div class="row">
                                      </div>
                                      <div class="row justify-content-center">
                                        <div class="col-md-4 p-4" style="width:300px; height:300px;background: url('/static/img/date_opt.png') no-repeat center; background-size:400px;">
                                          <h6  style="font-size: 18px; font-weight:bold; margin-top: -20%;"><b>날짜, 시간, 자치구 선택</b></h6>
                                        </div>
                                        <div class="col-md-4 col-6 p-4" style="width:300px; height:300px;background: url('/static/img/subway_opt.png') no-repeat center; background-size:200px;">
                                          <h6 style="font-size: 18px; font-weight:bold; margin-top: -20%;"><b>지하철역 선택</b></h6>
                                        </div>
                                        <div class="col-md-4 col-6 p-4" style="width:300px; height:300px;background: url('/static/img/place_opt.png') no-repeat center; background-size:200px;">
                                          <h6 style="font-size: 18px; font-weight:bold; margin-top: -20%;"><b>관광지 및 맛집 저장</b></h6>
                                        </div>
                                      </div>
                                    </div>
                                  </div>

                            </div>
                              <div class="tab-pane fade" id="tabfour" role="tabpanel">
                                <div class="py-3 text-center" >
                                    <div class="container">
                                      <div class="row">

                                      </div>
                                      <div class="row justify-content-center">
                                        <div class="col-md-4 p-4"> <i class="d-block fa fa-cloud fa-3x mb-2 text-muted"></i>
                                          <h4> <b style="color: rgb(6, 6, 53); font-size: 20px; font-weight:bold;">날씨 및 대기환경 데이터</b> </h4>
                                          <p style="font-size: 16px;">1. 기상청 종관 기상관측(ASOS)</p>
                                          <p style="font-size: 16px;">2. 서울시 권역별 대기환경현황</p>
                                          <p style="font-size: 16px;">3. 에어코리아 대기환경정보</p>
                                        </div>
                                        <div class="col-md-4 col-6 p-4"> <i class="d-block fa fa-subway fa-3x mb-2 text-muted"></i>
                                          <h4> <b style="color: rgb(6, 6, 53); font-size: 20px; font-weight:bold;">지하철 유동인구 데이터</b> </h4>
                                          <p style="font-size: 16px;">1. 서울교통공사 1~8호선</p>
                                          <p style="font-size: 16px;">   - 날짜시간대별 데이터</p>
                                          <p style="font-size: 16px;">2. 공공데이터포털 역주소 및 좌표</p>
                                          <p style="font-size: 16px;">3. 공공데이터포털 행정구 정보</p>
                                        </div>
                                        <div class="col-md-4 col-6 p-4"> <i class="d-block fa fa-camera-retro fa-3x mb-2 text-muted"></i>
                                          <h4> <b style="color: rgb(6, 6, 53); font-size: 20px; font-weight:bold;">관광지 및 맛집 데이터</b> </h4>
                                          <p style="font-size: 16px;">1. 한국관광데이터랩</p>
                                          <p style="font-size: 16px;">   - 관광지 및 맛집 정보</p>
                                          <p style="font-size: 16px;">2. 네이버지도 관광지 근처 역정보</p>
                                          <p style="font-size: 16px;">3. 카카오 api 좌표정보</p>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                            </div>
                              <div class="tab-pane fade" id="tabfive" role="tabpanel">
                                <div class="py-3 text-center" >
                                    <div class="container">
                                      <div class="row">
                                      </div>
                                      <div class="row justify-content-center">
                                        <img src="/static/img/tech.png" >
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
          </div>
    <div class="end_table" style="margin-left: 40%;margin-top:5%;color:rgba(128,128,128,0.7);">
    <div>
      <div class="col-md-12 text-center">
        <p class="mb-0 mt-2" style="margin-right: 55%;">© production date :2022. 11.</p>
      </div>
    </div>
    <div class="py-5">
      <div class="container">
        <div class="row">
          <div class="col-md-12 button_bottom" style="margin-left: 10%;">
            <a href="#" class="btn btn-primary">맨위로</a>
          </div>
        </div>
      </div>
    </div>
    </div>
    </div>
{% endblock %}
